body {
  background: #fff;
  font-family: "Æ»·½";
  font-size: 14px;
  color: #898989;
  padding: 0;
  max-width: 640px;
  padding-bottom: 14%;
  position: relative;
  margin: 0 auto;
}
.iconfont {
  font-size: 42px;
}
.color {
  color: #fd4140 !important;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.click_share {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9;
  background: rgba(0, 0, 0, 0.5);
}
.click_share img {
  position: fixed;
}
.Ta {
  position: fixed;
  bottom: 67px;
  width: 100%;
  max-width: 640px;
  height: 79px;
  display: table;
}
.Ta div {
  width: 50%;
  display: inline-block;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.Ta div button {
  background: none;
  border-radius: 0px;
  font-size: 25px;
  color: #fff;
}
.Ta div button i {
  padding: 18px;
  margin-right: 2%;
}
.Ta div button .i_1 {
  background: url('../image/head.png') no-repeat center center;
  background-size: contain;
}
.Ta div button .i_2 {
  background: url('../image/4.jpg') no-repeat center center;
  background-size: contain;
}
.Ta div:nth-of-type(1) button {
  padding: 15px 20%;
  background: #fd4140;
}
.Ta div:nth-of-type(2) button {
  border: 2px solid #fd4140;
  padding: 15px 20% 15px 20%;
  color: #fd4140;
}
.player_img {
  background: #eee;
  padding: 2% 3%;
}
.player_img p {
  margin-bottom: 2%;
}
.player_info {
  background: #fff;
  padding: 2% 2%;
  margin: 0px;
}
.player_info .img {
	padding: 0px;
	margin-right: 2%;
	margin-top: 3%;
	border-radius: 10px;
	overflow: hidden;
	width: 100px;
	height: 50px;
}
.player_info .img img {
  width: auto;
  height: auto;
}
.player_info .text {
  padding: 0px;
  margin-top: 3%;
  position: relative;
}
.player_info .text .num {
  position: absolute;
  right: 10px;
  top: 1px;
  font-size: 25px;
  color: #ec6124;
  line-height: 100%;
}
.player_info h3 {
  margin: 0px;
  margin-bottom: 1%;
  font-size: 30px;
}
.player_info p {
  font-size: 20px;
}
.img-rounded {
  border-radius: 100px;
}
.explain_main {
  padding: 0px 3%;
  background: #eee;
}
.explain_spoll,
.explain_flow,
.thanks {
  margin-bottom: 6%;
}
.explain_spoll h3,
.explain_flow h3,
.thanks h3 {
  font-size: 20px;
  color: #303030;
}
.explain_spoll p,
.explain_flow p,
.thanks p {
  margin-bottom: 5px;
  line-height: 24px;
  font-size: 20px;
}
.bt button {
  width: 45%;
  margin-bottom: 2%;
  padding: 10px;
  cursor: pointer;
  margin-left: 4%;
}
.bt button:nth-of-type(1) {
  background: #fd4140;
  color: #fefefe;
}
.bt button:nth-of-type(2) {
  background: #fff;
  color: #fd4140;
}
.line_info_title {
  font-size: 20px;
  border-top: 1px solid #eee;
  padding: 2% 0;
  margin: 0px;
}
.line_info_title ul {
  margin: 0px;
}
.line_info_title ul li {
  width: 17%;
  text-align: center;
}
.line_info_people {
  font-size: 20px;
  margin: 0px;
}
.line_info_people ul {
  padding: 2% 0;
  margin: 0px;
  border-top: 1px solid #eee;
}
.line_info_people ul:hover {
  background: #ec6124;
  color: #fefefe;
}
.line_info_people ul li {
  position: relative;
  width: 17%;
  text-align: center;
}
.messages {
  margin-top: 2%;
}
.messages textarea {
  border: 0px;
  background: #fff;
  width: 100%;
  resize: none;
  height: 70px;
  margin-bottom: 1%;
  overflow: hidden;
  padding: 16px 20px;
  display: table-cell;
  vertical-align: middle;
}
.messages .area {
  text-indent: 10px;
  text-align: left;
  font-size: 14px;
  color: #fd4140;
}
.line_title,
.apply_title,
.explain_title,
.explain_title {
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
}
form input {
  width: 100%;
  height: 60px;
  margin: 5px 0;
  border: none;
  background: #fff;
  font-size: 18px;
  text-indent: 10px;
}
.phone_tip {
  font-size: 14px;
  padding-top: 4px;
  color: #fd4140;
  text-align: left;
  margin: 0px;
  text-indent: 10px;
  padding-bottom: 2%;
}
.upload {
  background: #fff;
  padding: 10px;
}
.upload .upload-hide {
  display: none;
}
.upload .col-xs-3 {
  padding: 0px;
  position: relative;
}
.upload .col-xs-3 form {
  width: 100%;
}
.upload .col-xs-3 form #dd {
  border: 1px solid  #ddd;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
@media (max-width: 410px) {
  .upload .col-xs-3 form #dd {
    height: 60px;
    width: 60px;
  }
}
@media (min-width: 410px) and (max-width: 440px) {
  .upload .col-xs-3 form #dd {
    height: 75px;
    width: 75px;
  }
}
@media (min-width: 440px) {
  .upload .col-xs-3 form #dd {
    height: 90px;
    width: 90px;
  }
}
.upload .col-xs-3 form #dd .line_1 {
  width: 70%;
  height: 2px;
  position: absolute;
  background: #ddd;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.upload .col-xs-3 form #dd .line_2 {
  width: 2px;
  height: 70%;
  background: #ddd;
  display: inline-block;
  top: 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.upload .col-xs-3 form #dd img {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: relative;
}
.upload .col-xs-3 .btn_upload {
  opacity: 0;
  height: 100%;
  margin: 0;
  position: absolute;
  z-index: 3;
}
.upload .upload_tip {
  font-size: 14px;
  text-align: left;
}
.upload .upload_img .row {
  padding: 0% 4%;
}
.upload .upload_img .margin_top {
  margin-top: 2%;
}
.apply_vote {
  height: 82px;
  text-align: center;
  background: #fff;
  padding: 8px 0;
}
.apply_vote .row {
  margin: 0;
  padding: 0;
}

.apply_vote .row p{
  color: #363636;
}

.apply_vote .row .apply {
  border-right: 2px solid #fd4041;
}
.apply_vote p {
  padding: 4px 0;
  margin: 0px;
  font-size: 18px;
  color: #fefefe;
}
.main {
  background: #eee;
  padding: 20px;
  margin-top: -11px;
}
.footer {
  z-index: 99;
  position: fixed;
  bottom: 0px;
  height: auto;
  background: #363636;
  padding: 4px 0;
  width: 100%;
  border-top: 1px solid #ddd;
}


.footer .row {
  margin: 0px;
}
.footer .col-xs-3 {
  padding: 0px;
}
.footer span {
  display: block;
}
.footer a {
  color: #fff;
  text-decoration: none;
  color: #fff;
}
.footer img {
  max-width: 60%;
}
.footer p {
  margin: 0px;
  font-size: 16px;
  line-height: 100%;
}
.grid_people .col-xs-6 {
  padding: 0 12px 0 12px;
}
.grid_people .thumbnail {
  position: relative;
}
.grid_people .thumbnail a {
  display: inline-block;
  overflow: hidden;
	width: 100%;
	height:200px;
}
.grid_people .thumbnail a img {

}
.grid_people .num {
    padding: 2% 10%;
    background: rgba(10, 10, 10, 0.39);
    line-height: 30px;
    position: absolute;
    bottom: 53px;
    left: 0px;
    color: #fefefe;
    font-size: 18px;
    width: 100%;
}
.grid_people .caption {
  background: #fff;
  color: #ec6124;
  position: relative;
}

.grid_people .caption p{
  color: #fd4140 !important;
}

.grid_people .caption .circle {
        position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: inline-block;
    height: 100%;
    width: 47%;
    background: #ec6124;
    padding: 2px 0;
    line-height: 14px;
    color: #fff !important;
    text-align: center;
    font-size: 21px;
}
.grid_people .caption .circle p {
  text-align: center;
}
.grid_people .caption p {
  margin: 0px;
  padding: 4px 0;
  color: #fefefe;
  font-size: 16px;
}
.grid_match .breadcrumb {
  text-align: center;
    display: flex;
    padding: 0;
    margin-top: -10px;
}
.grid_match .breadcrumb li {
      font-size: 18px;
    flex: 1;
    background: #fff;
}
.grid_match .breadcrumb a {
  text-decoration: none;
    color: #363636;
    width: 100%;
    line-height: 50px;
    border: 1px solid #eee;
}
.grid_match .breadcrumb a:hover {
  color: #ec6124;
   border-bottom: 2px solid #ec6124;
}
.grid_match .breadcrumb li + li:before {
  padding: 0 15px;
  color: #fff;
  content: "";
}
.active_time {
  text-align: center;
  color: #fefefe;
  padding: 5px 0;
  font-size: 14;
}
.search {
  margin: 0 auto;
  width: 80%;
}
.search span,
.search input {
  border: 1px solid #363636;
}
.search input {
  height: 40px;
  font-size: 14px;
}
.search span {
  background: #363636;
  color: #fefefe;
}
@media (min-width: 640px) {
  .footer {
    width: 640px;
  }
  .change{
    width: 660px!important;
  }
}
@media (min-width: 1024px) {
  .change{
    width: 688px!important;
  }
}
@media (max-width: 460px) {
  .Ta {
    bottom: 53.5px;
    height: 62px;
  }
  .Ta div:nth-of-type(2) button {
    padding: 10px 10% 10px 10%;
  }
  .Ta div:nth-of-type(1) button {
    padding: 12px 10% 12px 10%;
  }
  .Ta div button {
    font-size: 18px;
  }
  .Ta div button i {
    padding: 12px;
  }
  .player_info .num {
    font-size: 18px !important;
  }
  .player_info h3 {
    font-size: 18px;
  }
  .player_info p {
    font-size: 14px;
  }
  .explain_spoll h3,
  .explain_flow h3,
  .thanks h3 {
    font-size: 15px;
  }
  .explain_spoll p,
  .explain_flow p,
  .thanks p {
    font-size: 15px;
  }
  .line_info_people,
  .line_info_title {
    font-size: 16px;
  }
  .messages .area {
    font-size: 15px;
  }
  form .upload .col-xs-3 {
    padding: 0px;
  }
  form .upload .col-xs-3 p {
    height: 70px;
    max-width: 70px;
  }
  form .upload .upload_tip {
    font-size: 15px;
  }
  form {
    text-align: center;
  }
  form input {
    height: 50px;
    margin: 5px 0;
    font-size: 15px;
  }
  form .time-input{
    height: 50px !important;
    margin: 5px 0 !important;
    font-size: 15px !important;
  }
  form .phone_tip {
    font-size: 15px;
  }
  .line_title,
  .apply_title,
  .explain_title {
    font-size: 20px;
  }
  .iconfont {
    font-size: 32px;
  }
  .footer p {
    font-size: 14px;
  }
  .grid_people .col-xs-6 {
    padding: 0 8px 0 8px;
  }
.grid_people .num {
    padding: 1% 8%;
    font-size: 16px;
    position: absolute;
    bottom: 47px;
}
 
  .grid_people .caption .circle p {
    line-height: 16px;
  }
  .grid_people .caption p {
    padding: 2px 0;
    font-size: 14px;
  }
  .active_time {
    font-size: 12px;
  }
  .grid_match .breadcrumb {
    padding: 0;
  }
  .grid_match .breadcrumb li {
    font-size: 16px;
  }
  .grid_match .breadcrumb li + li:before {
    padding: 0 10px;
  }
  .search input {
    height: 35px;
    font-size: 13px;
    text-indent: 10px;
  }
  .apply_vote {
    height: 70px;
    padding: 7px 0;
  }
  .apply_vote .row {
    margin: 0;
    padding: 0;
  }
  .apply_vote p {
    padding: 2px 0;
    font-size: 16px;
    color: #fefefe;
  }
}
@media (max-width: 360px) {
  .Ta {
    bottom: 51.5px;
    height: 55px;
  }
  .Ta div:nth-of-type(2) button {
    padding: 9px 8% 9px 8%;
  }
  .Ta div:nth-of-type(1) button {
    padding: 10px 8% 10px 8%;
  }
  .Ta div button {
    font-size: 14px;
  }
  .Ta div button i {
    padding: 9px;
  }
  .player_info h3 {
    font-size: 16px;
  }
  .player_info .num {
    font-size: 16px !important;
  }
  .player_info p {
    font-size: 13px;
  }
  .explain_spoll h3,
  .explain_flow h3,
  .thanks h3 {
    font-size: 13px;
  }
  .explain_spoll p,
  .explain_flow p,
  .thanks p {
    font-size: 13px;
  }
  .line_info_people,
  .line_info_title {
    font-size: 14px;
  }
  .messages .area {
    font-size: 13px;
  }
  form .upload .col-xs-3 {
    padding: 0px;
  }
  form .upload .col-xs-3 p {
    height: 60px;
    max-width: 60px;
  }
  form .upload .upload_tip {
    font-size: 13px;
  }
  .line_title,
  .apply_title,
  .explain_title {
    font-size: 18px;
  }
  form {
    text-align: center;
  }
  form input {
    height: 45px;
    margin: 5px 0;
    font-size: 13px;
  }
   form .time-input{
    height: 45px !important;
    margin: 5px 0 !important;
    font-size: 13px !important;
  }
  form .phone_tip {
    font-size: 13px;
  }
  .iconfont {
    font-size: 30px;
  }
  .change{
    margin: 0 -9px !important;
  }
  .footer p {
    font-size: 13px;
  }
.grid_people .num {
    padding: 1% 8%;
    font-size: 14px;
    position: absolute;
    bottom: 40px;
}
  .grid_people .col-xs-6 {
    padding: 0 4px 0 4px;
  }

  .grid_people .caption .circle p {
    line-height: 16px;
  }
  .grid_people .caption p {
    padding: 0;
    font-size: 12px;
  }
  .grid_match .breadcrumb li {
    font-size: 14px;
  }
  .grid_match .breadcrumb li + li:before {
    padding: 0 6px;
  }
  .apply_vote {
    height: 59px;
    padding: 8px 0;
  }
  .apply_vote .row {
    margin: 0;
    padding: 0;
  }
  .apply_vote p {
    padding: 1px 0;
    font-size: 14px;
    color: #fefefe;
  }


.grid_people .caption .circle {
  font-size: 15px !important;
}


#heart{
padding: 10% 4% !important;
}

.three li {
    font-size: 15px !important;
}

.glyphicon-menu-right{
   font-size: 19px !important;
    margin-top: 9px;
}

}

@media (max-width: 320px) {
  .change{
    margin: 0 -8.4px !important;
  }

  #jiazai{
    width: 105.8%!important;
  }
}

#toupiao{
     margin: 0%;
}


#heart{
padding: 6% 4%;
    position: relative;
    top: 5%;
}

.three{
    width: 100%;
    height: auto;
    background: #fff;
    list-style:none;
    border-top: 1px solid #eee;
}

.three li{
font-size: 18px;
    line-height: 37px;
    margin-left: -4%;
}

.glyphicon-heart:before{
  position: relative;
  top: 2px;
}

#jiazai{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 105.5%;
    height: 100%;
    text-align: center;
    z-index: 1000;
    background: #333;
    opacity: 0.85;
    margin-left: -10px;
}

#jiazai>img{
     margin: 40%;
    width: 19%;
}

#startTime{
    width: 100%;
    height: 60px;
    margin: 5px 0;
    border: none;
    background: #fff;
    font-size: 18px;
    text-indent: -1px;
}

#erweima{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 105.5%;
    height: 100%;
    text-align: center;
    z-index: 1000;
    background: #333;
    opacity: 0.95;
    margin-left: -10px;
}
